tfx==1.21.0
tfx-bsl==1.21.0
tensorflow==2.21.0
tensorflow-transform==1.21.0
tensorflow_model_analysis==0.52.0
tensorflow-serving-api==2.19.1
tensorboard==2.21.0
keras-tuner==1.4.8
apache-beam==2.75.0
pandas==2.3.3
numpy==2.4.4
scikit-learn==1.5.2
ipykernel==7.3.0
nbformat==5.11.1
nbconvert==7.17.1
pylint==4.0.7
requests